html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    color: rgba(0, 0, 0, 0.87);
  } */
  
  a {
    color: #26890d;
  }
  a:hover, a:focus {
    color: #046a38;
  }
  
  .container {
    margin: 5% 3%;
  }
  
  #resumeButton,#editButton,#deleteButton,#addOvertimeButton,#addPayrollDeductionButton{
    background-color: #808080;
    border: 1px solid #cccccc;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  #resumeButton:hover {
    /* background-color: #CC7722; */
    background-color: #32CD32;
  }
  #editButton:hover {
    /* background-color: #CC7722; */
    background-color: #32CD32;
  }
  #deleteButton:hover {
    /* background-color: #CC7722; */
    background-color: #32CD32;
  }
  #addOvertimeButton:hover {
    /* background-color: #CC7722; */
    background-color: #32CD32;
  }
  #addPayrollDeductionButton:hover {
    /* background-color: #CC7722; */
    background-color: #32CD32;
  }
  @media (min-width: 48em) {
    .container {
      margin: 2%;
    }
  }
  @media (min-width: 75em) {
    .container {
      margin: 2em auto;
      max-width: 75em;
    }
  }
  
  .responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
  }
  @media (min-width: 48em) {
    .responsive-table {
      font-size: 0.9em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
  }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  @media (min-width: 48em) {
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
  }
  
  /* table header */
  .responsive-table thead th {
    /* background-color: #CC7722; */
    background-color: #191970;
    border: 1px solid #89CFF0;
    font-weight: normal;
    text-align: center;
    color: white;
  }
  /* 1st row, 1st data column*/
  .responsive-table thead th:first-of-type {
    text-align: center;
  }
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  @media (min-width: 48em) {
    .responsive-table tr {
      display: table-row;
    }
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
  }
  @media (min-width: 30em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table th,
  .responsive-table td {
      display: table-cell;
      padding: 0.5em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 75em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em;
    }
  }
  .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  @media (min-width: 48em) {
    .responsive-table caption {
      font-size: 1.5em;
    }
  }
  .responsive-table tfoot {
    font-size: 0.8em;
    font-style: italic;
  }
  @media (min-width: 62em) {
    .responsive-table tfoot {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody {
      display: table-row-group;
    }
  }
  .responsive-table tbody tr {
    margin-bottom: 1em;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
  }
  .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .responsive-table tbody th[scope=row] {
    background-color: #26890d;
    color: white;
  }
  @media (min-width: 30em) {
    .responsive-table tbody th[scope=row] {
    border: 1px solid #89CFF0;
    border: 1px solid #89CFF0;
    }
  }
  /* 2nd row, 1st data column */
  @media (min-width: 48em) {
    .responsive-table tbody th[scope=row] {
      background-color: white;
      color: #000001;
      text-align: center;
    }
  }
  .responsive-table tbody td {
    text-align: right;
  }
  /* 2nd row, all data column */
  @media (min-width: 48em) {
    .responsive-table tbody td {
      border: 1px solid #89CFF0;
      border: 1px solid #89CFF0;
      text-align: center;
      background-color: white;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
      border-right: 1px solid #86bc25;
    }
  }
  .responsive-table tbody td[data-type=currency] {
    text-align: right;
  }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
  }
  @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  }